/* Top Nav*/
.top-nav{
    width: 100%;
    background: $sp-dark-gray;
    margin: 0;
    padding: 0;
    .top-list{
        padding: 0;
        margin: 0;
        list-style: none;
        overflow: hidden;
        li{
            list-style: none;
            
            float: left;
            padding: 10px 15px;
            color:$light-gray;
            font-size:13px;
            i{
                padding-right: 8px;
                text-decoration: none;
                &:first-child{
                    padding-left: 0px;
                }
            }

            a{
                text-decoration: none;
                color:map-get($foundation-palette,primary)
            }
        }
    }
}

.top-bar{
    color:$white;
    background: $sp-medium-gray;
    .menu{
        background: $sp-medium-gray;

    }
    .top-bar-left{
        span{
            background: $sp-dark-gray;
            color:map-get($foundation-palette,warning);
            font-weight: 600;
        }
    }
    a{
        color: $white;
        &:hover{
            color:map-get($foundation-palette,secondary);
        }
        
    }
    a.current{
        border-bottom: 1px solid red;
    }
}

.right{
    float: right;
}


/* shawcasee */
.showcase{
    background: url('../img/header.png') no-repeat -100px 0;
    min-height: 450px;
    color:#fff;

    .showcase-box{
        padding: 20px 30px;
        margin-top:30px;
        background: map-get($foundation-palette,primary);
        color:#fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        p{
            border-bottom: 1px #ccc solid;
            padding-bottom: 10px;
        }
    }
    .showcase-box-bottom{
        background: map-get($foundation-palette,secondary);
        padding: 10px 30px;
        border-bottom-left-radius:10px;
        border-bottom-right-radius: 10px;

        .pricing span{
            font-size:35px;
            font-weight: bold;
        }

        .start-link{
            padding-top: 20px;
            a{
                color:#fff;
            }
        }

    }
    
}

.domain-search{
    background: $light-gray;
    padding: 30px 20px 20px 20px;
    border-bottom: 2px #ccc solid;
    margin-bottom: 30px;
}

.p-box-1, .p-box-2, .p-box-3{
    text-align: center;
    .fa{
        font-size: 60px;
    }
    .features{
        margin:20px 0 30px 0;
        li{
            padding: 10px 0 10px 0;
            border-bottom: #ccc solid 1px;
        }
    }
}

.p-box-1{
    .fa{
        color:map-get($foundation-palette,primary);
    }
    .pricing span{
        font-size: 35px;
        font-weight: bold;
        color: map-get($foundation-palette,primary);
    }
}


.p-box-2{
    .fa{
        color:map-get($foundation-palette,secondary);
    }
    .pricing span{
        font-size: 35px;
        font-weight: bold;
        color: map-get($foundation-palette,secondary);
    }
    a{
        background: map-get($foundation-palette,secondary);
    }
}

.p-box-3{
    .fa{
        color:map-get($foundation-palette,alert);
    }
    .pricing span{
        font-size: 35px;
        font-weight: bold;
        color: map-get($foundation-palette,alert);
    }
    a{
        background: map-get($foundation-palette,alert);
    }
}

.section-a{
    margin-top: 30px;
    padding: 50px 0;
    img{
        width: 100%;
    }
    background: $light-gray;
}

.section-b{
    background: $dark-gray;
    color: #fff;
    padding: 50px 0;
    text-align:center;
}
.section-c{
    background: map-get($foundation-palette,primary);
    color:#fff;
    padding: 50px 0;
    text-align: center;
    .fa{
        font-size: 90px;
    }
}
footer{
    padding: 40px 0;
}